@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

p,
h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

p {
	font-size: x-large;
	font-size: 4vh;
}

#main {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-image: url("./assets/plat_bg.png");
	background-size: contain;
}

#content,
#date {
	padding: 20px;
}

#content {
	display: flex;
	flex-direction: column;
	border-radius: 40px;
	margin: 1%;
	background-color: rgb(170, 170, 170);
	border: 6px solid rgb(36, 36, 36);
	flex-grow: 1;
}

#content > #blurb {
	flex-shrink: 1;
}

#date {
	display: flex;
	flex-direction: column;
	margin-bottom: 1%;
	background-color: whitesmoke;
	justify-content: flex-end;
}

#sprite {
	margin: 0 10px 10px 0;
	float: left;
	height: 30vh;
}
