@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

p,
h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

p {
	font-size: 4vh;
}

#main {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-image: url("./assets/plat_bg.png");
	background-size: contain;
}

#content,
#date {
	padding: 15px;
}

#content {
	display: flex;
	flex-direction: column;
	border-radius: 40px;
	margin: 1%;
	background-color: rgb(170, 170, 170);
	border: 6px solid rgb(36, 36, 36);
	flex-grow: 1;
}

#content > #blurb {
	flex-shrink: 1;
}

#content > #blurb > #ver {
	font-size: 3.5vh;
	font-style: italic;
}

#details {
	display: flex;
}

#details > .detail {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
}

#details > .detail > .detail-name {
	font-weight: bold;
	font-size: 3vh;
}

#details > .detail > .detail-value {
	font-size: 3.5vh;
}

#date {
	display: flex;
	flex-direction: column;
	margin-bottom: 1%;
	background-color: whitesmoke;
	justify-content: flex-end;
}

#date-string-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

#date-string {
	flex-grow: 1;
}

#sprite {
	margin: 0 10px 10px 0;
	float: left;
	height: 50vh;
}
